.cr-instantex-container{
    width: 40%;
    min-width: 300px;
    margin: 0 5px;
    background: var(--body-background-color);
    box-shadow: 0 0 5px var(--shadow-color-level-1);
    border-radius: 3px;
    overflow: auto;
}
@media (max-width: 769px){
    .cr-instantex-container{
        width: 100%;
    }
}