.pg-allmarkets-screen{
    width: 95%;
    max-width: 920px !important;
    margin: auto;
    padding: 8px;

    &__iframe{
        padding: 0;
    }
    .positive{
        color: var(--system-green);
    }
    .negative{
        color: var(--system-red);
    }
}